body
{
	background-image: url(./image/background.jpg);
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;	
}
*
{
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.title
{
	font-family: 'Franklin Gothic Medium';
	font-size: 80px;
	text-shadow: 2px 2px white;
	color: rgb(153, 40, 44);
}
.form
{
	background-color: purple;
	padding: 30px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	width: 45%;
}
#name
{
	color: black;
	text-shadow: 1px 1px rgb(121, 222, 161);
	font-size: 35px;
}
.submit
{
	background-color: rgb(8, 236, 122);
	color: rgb(0, 0, 0);
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	border-radius: 15px;
	display: inline-block;
}
.bottoms 
{
	display: inline-block;
}
button:hover
{
	background-color: rgb(255, 255, 255);
	color: black;
}
.egclass
{
	font-size: 30px;
	color: rgb(255, 255, 255);
}
.last
{
	background-color: purple;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 15px;
	color: white;
	border: 2px solid white ;
	border-radius: 20px;

}
.sign
{
	font-size: 40px;
	font-family: Geneva;
	color: rgb(107, 200, 13);
	text-shadow: 2px 2px white;
}
input[type="text"]
{
	font-size: 20px;
	width: 100%;
	padding: 5px;
	background-color: white;
	border-radius: 30%;
}
input:focus
{
	border: 1px solid white;
}
a:hover
{
	background-color: black;
}
a:focus
{
	background-color: white;
	color: black;
}
button:focus
{
	background-color: black;
	color: white;
}
.logo
{
	bottom: 10px;
	left: 50px;
	right: 50px;
	position: fixed;
}