body
{
	background-image: url(./image/background.jpg);
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;	
}
.title 
{
	text-align: center;
	font-size: 30px;
	text-shadow: 1px 1px rgb(121, 222, 161);
	padding: 5px;
	
}
.form
{
	background-color: purple;
	padding: 30px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	width: 45%;
}
.hidden
{
	padding-top: 100px;
	visibility: hidden;
	text-align: center;
}
.text
{
	font-size: 20px;
	padding-right: 5px;
	color: black;
	text-shadow: 1px 1px rgb(121, 222, 161);
}
input[type="password"]
{
	font-size: 20px;
	width: 100%;
	padding: 5px;
	background-color: white;
	border-radius: 30%;
}
input[type="submit"]
{
	font-size: 20px;
	padding: 5px;
	width: 100%;
	background-color:  rgb(8, 236, 122);
	border-radius: 50%;
}
input[type="submit"]:hover
{
	background-color: white;
	color: black;
}
input[type="submit"]:focus
{
	background-color: black;
	color: white;
}
.egclass
{
	font-size: 30px;
	color: rgb(255, 255, 255);
}
.sign
{
	font-size: 40px;
	font-family: Geneva;
	color: rgb(107, 200, 13);
	text-shadow: 2px 2px white;
}
.logo
{
	bottom: 10px;
	left: 50px;
	right: 50px;
	position: fixed;
}

