* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  background-color: #444;
  display: flex;
  height: auto;
}
.heading-text {
  color: white;
  font-size: 30px;
  padding: 10px;
  margin: 5px;
}
.heading-text span {
  color: yellow;
  font-size: 30px;
}
.sec-heading-text {
  color: rgb(155, 140, 140);
  font-size: 25px;
  background: #333;
  height: 65px;
  text-transform: uppercase;
  padding: 20px;
  font-weight: lighter;
}
.heading i {
  font-size: 30px;
  color: rgb(155, 140, 140);
  padding: 20px;
}
.logo {
  position: absolute;
  right: 0;
}
.computer {
  border-left: 0.5px solid rgb(155, 140, 140);
}
.shopping {
  background-color: yellow;
  height: 67px;
  border-left: 0.5px solid rgb(155, 140, 140);
}
.logos {
  border-right: 0.5px solid rgb(155, 140, 140);
}
.top-section-texts {
  background-color: #333;
  display: flex;
  color: white;
  align-items: center;
  height: 100px;
  font-size: 20px;
  width: 100%;
}
.top-section-texts h1 {
  color: yellow;
  font-weight: bold;
  position: absolute;
  left: 70px;
}
.top-section-texts a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}
.top-section-a {
  position: absolute;
  right: 100px;
}
.middle-section {
  background: url(/image/tianyi-ma-WiONHd_zYI4-unsplash.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.middle-section-text {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
  display: block;
  text-align: center;
  color: white;
  align-items: center;
  padding-top: 100px;
}
.middle-section-text h1 {
  font-weight: lighter;
  font-size: 70px;
  font-family: fantasy;
}
.middle-section-text p {
  font-size: 20px;
  font-family: "Franklin Gothic Medium";
  padding: 10px;
  margin-bottom: 60px;
}
.middle-section-text a {
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  font-family: "Franklin Gothic Medium";
  font-size: 20px;
}
.third-section-text {
  display: flex;
  margin: auto;
}
.third-section-text ul {
  padding: 10px;
}
.third-section {
  background-color: #333;
}
.third-section-nav {
  width: 1000px;
  margin: auto;
}
.third-section-header {
  margin: auto;
  height: auto;
  text-align: center;
}
.third-section-header h1 {
  color: yellow;
  font-size: 30px;
  padding: 40px;
  padding-bottom: 10px;
  margin-top: 30px;
}
.third-section-header p {
  color: rgb(155, 140, 140);
  font-size: 20px;
  padding-bottom: 30px;
}
.third-section-text img {
  width: 100px;
  border-radius: 50%;
}
.third-section-text h1 {
  color: #fff;
  font-size: 30px;
  padding-bottom: 25px;
}
.third-section-text p {
  color: rgb(155, 140, 140);
  font-size: 20px;
  padding-bottom: 50px;
}
.best-performent {
  display: flex;
  margin: 10px 0;
}
.best-performent img {
  width: 500px;
  height: 500px;
}
.best-performent-text {
  padding: 30px 10px 30px 70px;
}
.best-performent-text h1 {
  color: yellow;
  font-size: 40px;
  font-family: "Franklin Gothic Medium";
  text-transform: uppercase;
}
.best-performent-text p {
  color: rgb(155, 140, 140);
  font-size: 20px;
}
.best-performent-text-check-mark i {
  padding-right: 10px;
  color: yellow;
}
.best-performent-text-check-mark {
  padding: 10px;
  color: rgb(155, 140, 140);
  font-size: 20px;
}
.best-performent-text-check {
  margin-top: 30px;
  font-size: 20px;
}
.best-performent-text p {
  padding: 15px 0;
}
.number-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.number-section-group {
  margin: 30px;
  padding: 10px;
}
.number-section-number {
  font-size: 80px;
  color: yellow;
}
.number-section-text {
  color: white;
  font-size: 15px;
  margin-top: 10px;
}
.number-section-group .fifth-section-header {
  text-align: center;
  margin-bottom: 100px;
}
.fifth-section-header h1 {
  font-size: 60px;
  color: yellow;
  font-family: "Franklin Gothic Medium";
  text-transform: uppercase;
  font-weight: lighter;
  padding-bottom: 10px;
  text-align: center;
}
.fifth-section-header p {
  font-size: 20px;
  color: rgb(155, 140, 140);
  padding: 0 200px;
  margin-bottom: 20px;
}
.f-s-t-first-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-s-t-first-text ul {
  width: 500px;
  background-color: #444;
  margin: 10px;
  padding-top: 30px;
  text-align: center;
}
.f-s-t-first-text ul img {
  width: 170px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.f-s-t-first-text ul h1 {
  color: yellow;
  font-size: 25px;
}
.f-s-t-first-text ul h2 {
  color: rgb(155, 140, 140);
  font-size: 20px;
  margin: 10px 0;
}
.f-s-t-s-t-logos {
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
}
.f-s-t-s-t-logos i {
  padding: 5px;
  background-color: yellow;
  border-radius: 20%;
}
.video-section video {
  width: 100%;
}
.sixth-section-title {
  text-align: center;
}
.sixth-section-title h1 {
  color: yellow;
  font-size: 40px;
  font-family: "Franklin Gothic Medium";
  text-transform: uppercase;
  margin: 10px;
}
.sixth-section-title p {
  font-family: "Times New Roman";
  font-size: 20px;
  color: rgb(155, 140, 140);
  margin: 0 150px 80px 150px;
}
.sixth-section-text-group {
  display: flex;
  width: 100%;
}
.sixth-section-text-text {
  background-color: #444;
  text-align: center;
  width: 300px;
  margin: 20px;
  height: 370px;
}
.sixth-section-text-text ul h1 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium";
  margin: 20px 0;
  padding: 0px;
  width: 100%;
}
.sixth-section-text-text h2 span {
  color: yellow;
  font-size: 40px;
}
.sixth-section-text-text h2 {
  color: white;
  font-size: 20px;
}
.sixth-section-text-data {
  font-size: 20px;
  color: rgb(155, 140, 140);
}
.sixth-section-text-data i,
.sixth-section-text-data span {
  margin-bottom: 20px;
}
.sixth-section-text-data i {
  color: yellow;
}
.sixth-section-text-text ul a {
  font-size: 20px;
  text-decoration: none;
  padding: 5px;
  color: white;
  margin: 50px;
}
.sixth-section-yellow-logo a {
  background-color: yellow;
}
.sixth-section-grey-logo a {
  background-color: rgb(155, 140, 140);
}
.seventh-setion-header {
  background-color: #333;
}
.seventh-setion-header h1 {
  color: yellow;
  font-size: 40px;
  text-align: center;
  font-family: "Franklin Gothic Medium";
  text-transform: uppercase;
  margin: 100px;
}
.seven-section-text-group {
  display: flex;
  width: 100%;
}
.seven-section-text-group ul {
  margin-bottom: 50px;
}
.seven-section-text-group ul h1 {
  color: yellow;
  font-size: 25px;
}
.seven-section-text-group ul p {
  color: rgb(155, 140, 140);
  font-size: 20px;
}
.eight-section-header {
  font-size: 40px;
  color: yellow;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
.eight-section-text-group ul {
  margin: 5px;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 20px;
}
.eight-section-text-group-text {
  background-color: #444;
  padding: 10px;
  line-height: 25px;
  width: 250px;
  margin: 15px 0;
}
.eight-section-text-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.eight-section-text-group-img img {
  width: 120px;
  border-radius: 50%;
  margin: 20px;
}
.eight-section-text-group-img {
  text-align: center;
}
.eight-section-text-group-img h1 {
  font-size: 25px;
  color: black;
  text-transform: uppercase;
}
.nine-section-header {
  width: 100%;
}
.nine-section-header h2 {
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: "Franklin Gothic Medium";
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 10px;
}
.nine-section-header h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  color: yellow;
  margin-bottom: 50px;
}
.nine-section-text {
  display: flex;
  width: 100%;
}
.nine-section-text ul img {
  width: 450px;
}
.nine-section-text ul h1 {
  color: yellow;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  text-transform: uppercase;
}
.nine-section-text ul div {
  font-size: 20px;
  color: rgba(155, 140, 140, 0.5);
  padding: 5px;
  margin: 5px;
}
.nine-section-text ul div a {
  color: black;
  text-decoration: underline #fff;
}
.nine-section-text ul p {
  color: rgb(155, 140, 140);
  font-size: 20px;
  margin: 10px;
  text-align: justify;
}
.nine-section-text ul a {
  color: yellow;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
}
.ten-section-header {
  margin: 30px;
  padding: 10px;
}
.ten-section-header h4 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.ten-section-header h1 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: yellow;
  margin: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.ten-sectin-text {
  display: flex;
  height: 700px;
}
.ten-section-text-group {
  width: 50%;
}
.ten-section-text-group form div div {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#name {
  width: 223px;
  display: inline-block;
}
#email {
  width: 470px;
}
#name,
#email {
  font-size: 20px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  background-color: #444;
  border: none;
  color: rgb(155, 140, 140);
}
#message {
  font-size: 20px;
  margin: 10px;
  background-color: #444;
  border: none;
  padding: 10px;
  color: rgb(155, 140, 140);
  text-align: left;
  width: 470px;
}
#ten-section-btn {
  color: white;
  background-color: yellow;
  font-size: 20px;
  padding: 20px 30px;
  margin: 20px;
  display: flex;
  border: none;
}
.ten-section-btn {
  display: flex;
  justify-content: right;
}
.group2 {
  margin-left: 100px;
}
.group2 p {
  font-size: 20px;
  color: rgb(155, 140, 140);
  margin-bottom: 20px;
  text-align: justify;
}
.group2 button {
  font-size: 20px;
  color: white;
  text-decoration: none;
  background-color: yellow;
  padding: 10px;
}
.ten-section-text-group h1 {
  color: yellow;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
}
.eleven-section-bgc {
  background-color: #444;
}
.eleven-section {
  background-color: #444;
  width: 1000px;
  display: flex;
  margin: auto;
}
.eleven-section-text-group {
  width: 330px;
  margin: 30px 10px;
}
.eleven-section-text-group h1 {
  font-size: 20px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 30px 0;
  text-transform: uppercase;
}
.eleven-section-text-group p {
  font-size: 20px;
  text-align: justify;
  color: white;
}
.eleven-section-btn a {
  display: block;
  color: rgb(155, 140, 140);
  font-size: 20px;
  padding: 5px;
  text-decoration: none;
  text-transform: capitalize;
}
#eleven-section-email {
  font-size: 20px;
  background-color: #444;
  border: 1px solid white;
  height: 60px;
  padding-left: 20px;
  width: 200px;
}
#eleven-section-btn {
  width: 100px;
  font-size: 20px;
  height: 60px;
  color: wheat;
  background-color: yellow;
  border: none;
}
.eleven-section-logos i {
  font-size: 20px;
  background-color: #444;
  color: rgb(155, 140, 140);
  padding: 10px;
}
.footer-section {
  margin-top: 70px;
  text-align: center;
  color: white;
  font-size: 18px;
  height: 30vh;
}
.footer-section span {
  color: rgb(155, 140, 140);
}
